<!DOCTYPE html>
<html lang = "en">
	<head>
		<title>{{title}}</title>
		<meta name = "viewport" content = "width=device-width, initial-scale=1" charset="utf-8">

		<!-- CSS -->
		<link rel= "stylesheet" type = "text/css" href="{{url_for('static', filename = 'design.css')}}"/>

		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">


		<!-- Required Scrips -->
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Bootstraps -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

		<title> {{ title }} </title>
		<!-- User scripts -->
		
	
	</head>
	<body>
			<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
				<ul class = "navbar-nav">
							<li class = "nav-item active"><a class = "nav-link" href = "/home">Home</a></li>
							<li class= "nav-item"><a class = "nav-link" href = "/customers">Customers Section</a></li>
							<li class = "nav-item"><a class = "nav-link" href = "/about_us">About Us</a></li>
							<li class = "nav-item"><a class = "nav-link" href = "#">Why should you choose us?</a></li>
							<li class = "nav-item"><a class = "nav-link" href = "/contact_us">Contact Us</a></li>
							<li class = "nav-item"><a class = "nav-link" href = "/tariff">Tariff</a></li>
							
						</ul>
				</div>
			</nav>

		{% if session %}
		<div id = "_form" class = "container bg-dark cont-margin col-5 site-dialog-text">
			<div class = "form_style site-font"> Last Transaction</div>
				<div class = "form-group col-md-11">Your last paid bill was for the month of <div class = "text-success">{{ month }}</div></div>
				<div class = "price_table cont-margin">
					<table class = "bg-dark site-dialog-text" border ="1" cellpadding = "10px" cellspacing = "10px">
					<tr>
						<th> Month </th>
						<td> {{ month }} </td>
						
					</tr>
					<tr>
						<th> Amount Paid </th>
						<td>{{ amount }}</td>
					
					</tr>
					<tr>
						<th> Status </th>
						<td> {{ status }}</td>
						
					</tr>
					</table>
				</div>
				<div class = "text-center"><input type = "submit" id = "button_padding" class = "btn btn-success btn-lg " value = "Pay"></div>
				
			</form>
		</div>
		{% endif %}

	</body>
</html>